<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <title>Document</title>
</head>
<body>

    {% csrf_token %}
 <section class="main-grid">
    {% for detail in details %}

    <div class="grid">
        <p>
            {{ detail.topic }}
        <div class="flex">
        <img src="{{ detail.image.url }}" alt="">
        <div class="details-name-date">
          
            By: {{ detail.name }} | {{ detail.date }} <br>
            Duration: {{ detail.duration }} Minutes 
            | <span>{{ detail.time_one }} PST | {{ detail.time_two }} PST </span>

        </div>
        </div>
        </p>
    </div>
    {% endfor %}

</section>

    
    
</body>
</html>